

.container{
    width: 100%;
    min-height: 50px;
    background-color: antiquewhite;
    display: flex;
    grid-gap: 5px;
    flex-wrap: wrap;
}

.selected{
    box-shadow: 0px 0px 4px #2680eb !important;
    border: 1.3px solid #2680eb !important;
    border-radius: 4px;
}

.align-top {
    align-items: flex-start;
    align-content: flex-start;
}

.align-middle {
    align-items: center;
    align-content: center;
}

.align-bottom {
    align-items: flex-end;
    align-content: flex-end;
}

.align-left {
    justify-content: flex-start;
}

.align-center {
    justify-content: center;
}

.align-right {
    justify-content: flex-end;
}

.align-space-between {
    justify-content: space-between;
}