
.selected {
    box-shadow: 0px 0px 4px #2680eb;
    border: 1.3px solid #2680eb !important;
    border-radius: 4px;
}

.label-container {
    width: 40%;
    border-radius: 3px;
    display: flex;
}

.vertical_end {
    align-items: end;
}

.vertical_start {
    align-items: start;
}

.vertical_center {
    align-items: center;
}
