

.containers{
    width: 100vw;
    height: 100%;
    /* background-color: grey; */
    background-image: url(../../../../assets/images/bg1.png);
    background-attachment: fixed;
    background-size: auto;
    background-repeat: repeat;
}

.containers .header_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0.3rem 2rem 0.3rem 1rem;
    /* border-top: 0.22vh solid #ced4da;
    border-bottom: 0.22vh solid #ced4da; */
}

.containers .header_row h1{
    font-size: 20px;
    margin-bottom: 0px;
}

.containers .header_row .save_btn{
    border: 2px solid #9b60c6;
    color: #9b60c6 !important;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2vw;
    border-radius: 5px;
    font-size: 16px;
    padding: 0.3rem 1.5rem;
    background-color: white;
    font-weight: bold;
}

.containers .header_row .save_btn:hover{
    background-color: #9b60c6;
    color: #ffffff !important;
}

a{
    color: black;
}

.containers .work-container{
    width: 100%;
    height: 83.5%;
    /* background-color: grey; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    overflow: auto;
}

.containers .work-container .sidebar{
    position: fixed;
    left: 0;
    top: 190px;
    width: 14vw;
    height: 100%;
    overflow-y: hidden;
    background-color: #f1effb;
    color: black;
    font-size: 20px;
    overflow-y: auto;
    border-right: 1px solid #e3dede;
}

.search_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 4rem;
}

.search_box input{
    width: 70%;
    border-radius: 25px;
    padding-left: 10px;
}


.sidebar ::ng-deep .accordion-item {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #f0f0fc !important;
    border-right: none;
    /* border-right: 1px solid #d4d4da !important; */
}

.sidebar ::ng-deep .accordion-item .accordion-body img {
    height: 3vmax;
    width: 3vw;
}

.sidebar ::ng-deep .accordion-item .accordion-body p {
    font-size: 1rem !important;
    padding-left: 0.8vw !important;
}

.sidebar ::ng-deep .accordion-item .py-9px {
    padding-top: 0.6vmax !important;
    padding-bottom: 0.6vmax !important;
}

:host ::ng-deep .accordion-item button span.fs-10px {
    font-size: 1.1rem !important;
    font-weight: 500;
}

.sidebar ::ng-deep .accordion-body {
    background-color: #f0f0fc !important;
    padding: 0 0.6vw 1vmax 0.6vw !important;
    border-top: 0px solid #ddd !important;
}

.sidebar ::ng-deep .accordion-body div:last-child {
    margin-bottom: 0px !important;
}

.form-element {
    font-size: 10px !important;
    line-height: 12px;
    cursor: pointer;
}

.icon_14px {
    height: 1.1vmax;
    width: 1.1vw;
}

.transform_content {
    transform-origin: 0% 0% 0px;
}

.containers .work-container .builder-area{
    min-width: 800px;
    min-height: 500px;
    /* width: 50%;
    height: 60%; */
    background-color: white;
    margin: 5.5vmax auto 0;
}

.containers .work-container .panel {
    top: 11.8rem;
    position: fixed;
    background-color: #f5f6f7;
    right: 0;
    width: 23.4vw;
    box-shadow: -1px 0px 2px #00000029;
    z-index: 2;
    height: 100%;
}

.containers .inner_tabs{
    background-color: white;
    border-top: 0.22vh solid #ced4da;
    border-bottom: 0.22vh solid #ced4da;
    height: 5.9rem;
}

.containers .inner_tabs ul .icon{
    border-right: 1px solid grey;
    width: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_content{
    padding: 0 40px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #f9f9fd;
}

.dimension{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid grey;
    padding: 0 2rem;
}

.color_box{
    height: 100%;
    display: flex;
    align-items: center;
    grid-gap: 5px;
    border-right: 1px solid grey;
    padding: 0 2rem;
}


.font_sizing_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid grey;
    height: 100%;
    padding: 0 2rem;
}

.font_sizing_box a {
    border: 1px solid black;
    border-radius: 5px;
}

.font_sizing_box input{
    width: 3vw;
}

.font_styling{
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid grey;
    height: 100%;
    padding: 0 2rem;
}

.font_styling span{
    font-size: 20px;
}

.h_align{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid grey;
    height: 100%;
    padding: 0 2rem;
}

.vl_align{
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid grey;
    height: 100%;
    padding: 0 2rem;
}

.vl_align span{
    width: 65%;
}

.vl_align .form-control{
    width: 35%;
}

.styles{
    width: 18vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid grey;
    height: 100%;
    padding: 0 2rem;
}

.styles .color_wrapper{
    display: flex;
    align-items: center;
    grid-gap: 0.5rem;
}

.spacing{
    width: 23vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid grey;
    height: 100%;
    padding: 0 2rem;
}

.spacing .side_wrapper{
    display: flex;
    align-items: center;
    grid-gap: 0.2rem;
}

.spacing .side_wrapper input{
    width: 3rem;
}

.add_row_btn{
    border: 2px solid #9b60c6;
    color: #9b60c6 !important;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2vw;
    border-radius: 5px;
    font-size: 16px;
    padding: 0.3rem 1rem;
    background-color: white;
    font-weight: bold;
    margin-left: 2rem;
}

.add_row_btn:hover{
    color: white !important;
    background-color: #9b60c6;
}
