.selected {
    box-shadow: 0px 0px 4px #2680eb;
    border: 1.3px solid #2680eb !important;
    border-radius: 4px;
}

.checkbox-container {
    width: 40%;
    height: 20px;
    background-color: rgb(209, 205, 205);
    display: flex;
    align-items: center;
    grid-gap: 30px;
}

.checkbox_lable{
    display: flex;
    align-items: center; 
}

.vertical_end {
    align-self: end;
}

.vertical_start {
    align-self: start;
}

.vertical_center {
    align-self: center;
}