<div
  class="input-box d-flex"
  (click)="openPropertyPanel($event)"
  [ngClass]="{
    selected: isSelected,
    vertical_end: elementObj.format.vertical_align === 'bottom',
    vertical_start: elementObj.format.vertical_align === 'top',
    vertical_center: elementObj.format.vertical_align === 'middle'
  }"
  [ngStyle]="{
    'width.px': this.elementObj.container.width,
    'height.px': this.elementObj.container.height
  }"
>
  <input
    type="number"
    [placeholder]="elementObj.placeholder"
    class="i_form-control inherit_style"
    [ngStyle]="getElementStyle()"
  />
</div>
