.selected {
    box-shadow: 0px 0px 4px #2680eb;
    border: 1.3px solid #2680eb !important;
    border-radius: 4px;
}

.input-box {
    width: 40%;
}

.input-box input {
    width: 100%;
    /* border: none; */
    outline: none;
    border-radius: 3px;
    border: 1px solid grey;

}

.vertical_end {
    align-self: end;
}

.vertical_start {
    align-self: start;
}

.vertical_center {
    align-self: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}