<div
  class="radio-container"
  (click)="openPropertyPanel($event)"
  [ngClass]="{ selected: isSelected }"
  [ngStyle]="returnStyle()"
>
  <ng-container *ngFor="let elem of elementObj.options_list">
    <div class="radio_lable">
      <input
        type="radio"
        class="form-check-input"
        name="radio{{ elementObj.elementId }}"
        [ngClass]="{
          vertical_end: elementObj.format.vertical_align === 'bottom',
          vertical_start: elementObj.format.vertical_align === 'top',
          vertical_center: elementObj.format.vertical_align === 'middle'
        }"
      />
      &nbsp;
      <label
        class="form-check-label inherit_style ms-1"
        for="{{ elem[elementObj?.key_value] }}"
        >{{ elem[elementObj?.display_value] }}</label
      >
    </div>
  </ng-container>
</div>
